<!DOCTYPE html>

{% include "backend/index.html"%}
<form method="POST" action="">
    {% csrf_token %}
    {{form}}
    <input type="submit">
</form>

{% for event in events%}
    <h1> {{event.title}} </h1>
    <button name ="Update" class="btn btn-primary"> <a  href="{% url 'update_event' event.id %}" style = "color:white">  Update  </a> </button>
    <button name ="Delete"  class="btn btn-danger"> <a  href="{% url 'delete_event' event.id %}" style = "color:white"> Delete </a>  </button>

{%endfor%}