<h1>
    Login
</h1>
				<form method="POST" action="">
						{% csrf_token %}

							<input type="text" name="username" placeholder="Username..." class="form-control">
							<input type="password" name="password" placeholder="Password..." class="form-control" >
				 			<input class="btn login_btn" type="submit" value="Login">
				   			
                        </form>

				{% for message in messages %}
					<p id="messages">{{message}}</p>
				{% endfor %}			
	
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
					</div>
			