<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
<style>
    input[type= "text"]{
        width: 350px;
        height: 55px;  
        border-radius: 30px;
        border: none;
        background-color: rgb(238, 236, 236);
        font-size: 16px;
	    font: bold;
        font-family: 'Raleway', sans-serif;
	    outline: none;
	    color: black;
    }

    input[type= "email"]{
        width: 350px;
        height: 55px;  
        border-radius: 30px;
        border: none;
        background-color: rgb(238, 236, 236);
        font-size: 16px;
	    font: bold;
        font-family: 'Raleway', sans-serif;
	    outline: none;
	    color: black;
    }
    input[type= "password"]{
        width: 350px;
        height: 55px;  
        border-radius: 30px;
        border: none;
        background-color: rgb(238, 236, 236);
        font-size: 16px;
	    font: bold;
        font-family: 'Raleway', sans-serif;
	    outline: none;
	    color: black;
    }
    .bg{
        background-color: #FEE140;
        background-image: linear-gradient(19deg, #FEE140 0%, #FA709A 100%);
    }

    .register{
		height: auto;
		font-family: 'Raleway', sans-serif;
		font-size: 60px;
        color: black;
		
	
    }

    .btn{
    width: 90px;
    height: 42px;
    border-radius: 20px;
    border-color: black;
    margin: auto;
    background-color: transparent;
    font-size: 15px;
    }

    * {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;

    }




</style>

<body class="bg">
<h1 class="register">
    Register
</h1>
<form method = "POST" action="">
    {% csrf_token %}

    {% for field in form%}
        {{field.label}}:
        {{field}}

    {% endfor %}

    {{form.errors}}
    
    <input type="submit" name ="Create User" class="btn">
</form>
</body>